* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#scorebord {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 90%;
  border-radius: 10px;
  margin: 20px 0;
  color: white;
  background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);

}

h2 {
  font-size: 16px;
}

#bublebox {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 80%;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);
}


.bubule {
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0.5px 1.2px;



}


.bubule:hover {
  color: white;
  cursor: pointer;
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}

span {
  padding: 10px;
  background: white;
  color: #222222;
  border-radius: 5px;
  font-weight: bold;
}